/* CSS declarations go here */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #222;
  font-size: 16px;
}

input, select, textarea, button {
  font: inherit;
}

body > div, .layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.col {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 150px;
  color: #fff;
  padding: 0 20px;
  width:100%;
  overflow:hidden;
  background: #272822;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 auto;
}
.btn-home {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 130px;
  background: rgba(255,255,255,0.1) url(/home.svg) 50% 32% no-repeat;
  background-size: 60px 60px;
  transition: all 0.2s ease;
  text-align: center;
  text-indent: 200%;
  overflow: hidden;
  text-decoration: none;
}
.btn-home:hover {
  background-color: rgba(255,255,255,0.25);
  transform: scale(1.1);
}

header .col {
  display: flex;
  justify-content: space-around;
}
header h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
}
header a {
  color: white;
}
header a:hover,
header a:focus,
header a:visited,
header a:active {
  color: white;
  text-decoration: none;
}
h1 em {
  color: #e0d361;
  font-style: normal;
}
h2 {
  font-weight: 700;
}
h2 em {
  text-transform: uppercase;
  font-style: normal;
}

/* ======== LAYOUT */
.panes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: url(/BG_CodeUur-index.png) no-repeat 50% 50%;
  background-size: cover;
}

.panes .pane {
  position: relative;
  min-width: 300px;
  width: 100%;
  border: 2px solid #798587;
  border-radius: 10px;
  background: rgba(255,255,255,0.9);
  padding: 20px 60px 30px 60px;
  overflow-y: auto;
}

/* ======== HOMEPAGE */
.calls-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.calls-to-action a {
  display: block;
  border-radius: 20px;
  padding: 90px 20px 10px 20px;
  background-size: 80px 80px;
  width: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.calls-to-action a + a {
  margin-left: 20px;
}
.calls-to-action a.btn-send-idea {
  background: rgba(100,180,240,1) url(/send-idea.svg) 45% 12px no-repeat;
}
.calls-to-action a.btn-show-ideas {
  background: rgba(100,180,240,1) url(/ideas.svg) 50% 8px no-repeat;
}

.calls-to-action a:hover {
  background-color: rgba(252,152,43,1);
}


/* ======== IDEAS */
.ideas {
  list-style: none;
  margin: 0;
  padding: 85px 0 0 0;
  overflow: auto;
  zoom: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: calc(100% + 10px);
}
.idea {
  display: block;
  width: 25%;
  position: relative;
  padding-top: 25%;
  overflow: hidden;
}
.idea-item {
  position: absolute;
  top:0;
  left:0;
  right: 10px;
  bottom:10px;
  z-index: 1;
  border: 2px solid #636363;
  background-color: rgba(50,50,50,1);
  background-size: cover;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  color: #d0d0d0;
}

img.detail {
  max-width: 100%;
}
.btn-add-idea {
  display: block;
  position: absolute;
  top: 30px;
  right: 60px;
  padding: 10px 40px 10px 0;
  background-size: 42px 42px !important;
  width: 240px;
  color: white;
  text-align: center;
  font-size: 18px;
  background: rgba(100,180,240,1) url(/send-idea.svg) 90% 50% no-repeat;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.btn-add-idea:hover {
  background-color: rgba(252,152,43,1);
  border-color: rgba(252,152,43,0.5);
  color: white;
  text-decoration: none;
}
.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  overflow: hidden;
}
.tile-overlay * {
  transition: transform 0.2s ease-out;
}
.tile-overlay .title {
  text-align: center;
  padding: 5px 10px 10px 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  line-height: 1.5;
  z-index: 2;
}
.tile-overlay .description {
  text-align: center;
  padding: 5px 10px 10px 10px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-110%);
  color: white;
  font-size: 14px;
  overflow: hidden;
  z-index: 0;
}
.tile-overlay:after {
  content:'';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60%;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+81&0+0,0.8+81 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 81%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 81%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}
.tile-overlay:hover .title {
  transform: translateY(200%);
}

.tile-overlay:hover .description {
  transform: translateY(0px);
}

/* ======== IDEA */
h2 + .idea-authors {
  margin-top: -5px;
  font-weight: normal;
  font-size: 16px;
  color: #666;
  font-style: italic;
  margin-bottom: 30px;
}
.figures {
  margin: 20px -60px;
  padding: 20px 60px;
  background-color: rgba(0,0,0,0.8);
}
.figures img {
  border: 1px solid rgba(255,255,255,0.5);
}
.figures figure + figure {
  margin-top: 20px;
}
blockquote {
  border-left-color: rgba(0,0,0,0.2);
}

/* ======== TOASTR */
#toast-container {
  position: absolute;
}
#toast-container .toast {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/* ======== RESPONSIVE BEHAVIOUR */

@media(max-width: 500px) {
  header {
    height: 70px;
    padding-left: 90px;
    overflow: hidden;
  }
  header .col {
    justify-content: flex-start;
  }
  header h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 22px;
  }

  .btn-home {
    height: 70px;
    width: 70px;
    background-size: 30px 30px;
    background-position: 50% 40%;
  }

  .panes {
    padding: 20px;
  }
  .panes .pane {
    padding: 10px 20px 20px 20px;
  }
  .figures {
    margin: 20px -20px;
    padding: 20px 20px;
  }
  .calls-to-action {
    display: block;
  }
  .calls-to-action a {
    width: 100%;
    padding: 20px 20px 20px 84px;
    text-align: left;
    background-position: 10px 50% !important;
    background-size: 50px 50px !important;
  }
  .calls-to-action a + a {
    margin-top: 20px;
    margin-left: 0;
  }

  .idea {
    width: 50%;
    padding-top: 50%;
  }
  .btn-add-idea {
    top: 25px;
    right: 20px;
  }
  .tile-overlay .title {
    font-size: 16px;
  }
}

@media(min-width: 500px) and (max-width: 800px) {
  header {
    height: 90px;
    padding-left: 100px;
    text-align: left;
  }
  header h1 {
    font-size: 24px;
  }
  header .col {
    justify-content: flex-start;
  }
  .btn-home {
    height: 90px;
    width: 90px;
    background-size: 40px 40px;
    background-position: 50% 40%;
  }
  .panes .pane {
    padding: 10px 30px;
  }
  .idea {
    width: 33.333333%;
    padding-top: 33.333333%;
  }
  .figures {
    margin: 20px -30px;
    padding: 20px 30px;
  }

  .btn-add-idea {
    top: 25px;
    right: 30px;
  }

  .tile-overlay .title {
    font-size: 18px;
  }
}

@media(min-width: 800px) {
  .panes .pane.small {
    width: 600px;
  }
}

/*.pre {
  white-space: pre;
}*/
