form label {
  display:block;
  margin:20px 0;
}
form label input,
form label textarea,
form .cta {
  display: block;
  width: 100%;
  max-width: 400px;
}
form label textarea {
  height: 100px;
}
.cta {
  background: #91d693;
  background-image: -webkit-linear-gradient(top, #91d693, #4d8045);
  background-image: -moz-linear-gradient(top, #91d693, #4d8045);
  background-image: -ms-linear-gradient(top, #91d693, #4d8045);
  background-image: -o-linear-gradient(top, #91d693, #4d8045);
  background-image: linear-gradient(to bottom, #91d693, #4d8045);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  color: white;
}

.cta:hover {
  background: #4d8045;
  background-image: -webkit-linear-gradient(top, #4d8045, #91d693);
  background-image: -moz-linear-gradient(top, #4d8045, #91d693);
  background-image: -ms-linear-gradient(top, #4d8045, #91d693);
  background-image: -o-linear-gradient(top, #4d8045, #91d693);
  background-image: linear-gradient(to bottom, #4d8045, #91d693);
  text-decoration: none;
}
